<div class="ledgend-container">
    <div class="ledgent-row">
      <img src="assets/pointer.png" class="icon up" />
      <span class="text">{{ controller.upKey }}</span>
    </div>
    <div class="ledgent-row">
      <img src="assets/pointer.png" class="icon right" />
      <span class="text">{{ controller.rightKey }}</span>
    </div>
    <div class="ledgent-row">
      <img src="assets/pointer.png" class="icon down" />
      <span class="text">{{ controller.downKey }}</span>
    </div>
    <div class="ledgent-row">
      <img src="assets/pointer.png" class="icon" />
      <span class="text">{{ controller.leftKey }}</span>
    </div>
  </div>