<div style="display: flex; justify-content: space-evenly; align-items: center;">
  <h3 style="color: rgb(117,108,101);">Score:</h3>
  <h1 style="color: rgb(117,108,101);">{{ score }}</h1>
</div>

<div class="to-wrap-row">
  <div class="playing-container">
    <div class="row" *ngFor="let row of boardToRender; let i = index">
      <div
        *ngFor="let cell of row; let j = index"
        [class]="'cell' + ' c' + cell"
        [style]="'width:' + cellWidth + 'px; height:' + cellWidth + 'px'"
        [ngClass]="{ 
          'cell-added': renderInEffect(i, j),
          'sim-cell': boardImported.length > 1 && cell > 1
         }"
      >
        {{ cell !== 0 ? cell : "" }}
      </div>
    </div>
  </div>
  <ng-container *ngIf="boardImported.length === 0">
    <app-ledgend [controller]="controller"></app-ledgend>
  </ng-container>
  
  
</div>
